$mainFont: Arial;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	margin: 0 auto;
	font-family: $mainFont;
	font-weight: normal;
}
button {
	border: none;
	width: 120px;
	height: 40px;
	border-radius: 2px;
	background: rgba(255, 255, 255, 0);
	border: 1px solid color(neon);
	color: color(neon);
	cursor: pointer;
	font-size: 16px;
	line-height: 19.2px;
	margin-top: 40px;
	outline: none;
}
.separator {
	background-color: #a0a0a0;
	width: 50px;
	height: 2px;
	opacity: 0.3;
	margin-top: 18.6px;
	margin-bottom: 48px;
}
h2 {
	font-weight: 500;
}
p {
	letter-spacing: 0.05em;
}
input[type="text"] {
	width: 100%;
	max-width: 420px;
	font-size: 14px;
	height: 45px;
	padding: 10px;
	border: 1px solid #ececec;
}
::placeholder {
	letter-spacing: 0.05em;
	line-height: 16.8px;
	text-align: left;
	color: #413d4b;
	opacity: 0.5;
	font-size: 14px;
}
.tagline {
	text-align: center;
}
label{
  text-indent: -10000px;	
}
